*{
    margin: 25;
    padding: 25;
}

.cabecalho {
    background-color: cornflowerblue;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem{
    width: 20%
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}